services/_pycache__/*
services/helpers/__pycache__/*
blueprints/sub_features/__pycache__/
blueprints/subscription/__pycache__/
models/__pycache__/
__pycache__/*
famapi/.env
../venv
api_venv
how.txt
test.py
emtest.txt
.env
