aiohttp==3.8.3
aioredis==2.0.0
aiosignal==1.3.1
aiosmtplib==2.0.1
aiosqlite==0.18.0
alembic==1.8.1
aniso8601==9.0.1
anyio==3.6.2
apispec==6.3.0
APScheduler==3.10.1
async-timeout==4.0.2
asyncpg==0.27.0
attrs==22.2.0
Authlib==1.2.0
bcrypt==4.0.1
beautifulsoup4==4.12.2
blinker==1.5
cachetools==5.2.0
certifi==2022.9.24
cffi==1.15.1
charset-normalizer==2.1.1
click==8.1.3
clickclick==20.10.2
connexion==2.14.1
cryptography==35.0.0
cssselect==1.2.0
cssutils==2.6.0
databases==0.5.3
Deprecated==1.2.13
dnspython==2.2.1
easyadmin==0.169
easyrpc==0.245
easyschedule==0.107
ecdsa==0.18.0
email-validator==1.3.0
example==0.1.0
fakeredis==2.0.0
fastapi==0.87.0
fastapi-mail==0.3.7
fastapi-pagination==0.11.0
flasgger==0.9.5
Flask==2.2.2
Flask-API==3.0.post1
flask-apispec==0.11.4
Flask-Bcrypt==1.0.1
Flask-Cors==3.0.10
Flask-GoogleStorage==0.1.2
Flask-JWT-Extended==4.4.4
Flask-Login==0.6.2
Flask-Mail==0.9.1
flask-mongoengine==1.0.0
flask-paginate==2022.1.8
Flask-PyMongo==2.3.0
Flask-RESTful==0.3.9
Flask-SQLAlchemy==3.0.2
Flask-WTF==1.1.1
frozenlist==1.3.3
google==3.0.0
google-api-core==2.10.2
google-api-python-client==2.31.0
google-auth==2.14.1
google-auth-httplib2==0.1.0
google-cloud-core==2.3.2
google-cloud-storage==2.8.0
google-crc32c==1.5.0
google-resumable-media==2.4.1
googleapis-common-protos==1.57.0
greenlet==2.0.1
gunicorn==20.1.0
h11==0.14.0
httpcore==0.16.2
httplib2==0.21.0
httptools==0.5.0
httpx==0.23.1
idna==3.4
importlib-metadata==6.0.0
importlib-resources==5.10.2
inflection==0.5.1
itsdangerous==2.1.2
Jinja2==3.1.2
jsonschema==4.17.3
jwcrypto==1.4.2
lxml==4.9.1
makefun==1.9.5
Mako==1.2.4
MarkupSafe==2.1.2
marshmallow==3.19.0
mistune==2.0.4
mongoengine==0.27.0
multidict==6.0.2
mysql==0.0.3
mysqlclient==2.1.1
packaging==23.0
passlib==1.7.4
pkgutil_resolve_name==1.3.10
premailer==3.10.0
protobuf==4.21.12
psycopg2-binary==2.9.5
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pydantic==1.9.1
pydbantic==0.0.27
Pygments==2.15.0
PyJWT==2.0.0
pymongo==4.3.3
pync==2.0.3
pyotp==2.8.0
pyparsing==3.0.9
pyrsistent==0.19.3
python-dateutil==2.8.2
python-dotenv==0.21.1
python-jose==3.3.0
python-jwt==4.0.0
python-multipart==0.0.5
pytz==2022.7.1
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0
redis==4.3.5
requests==2.28.1
rfc3986==1.5.0
rsa==4.9
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.4
SQLAlchemy==1.4.28
sse-starlette==1.2.1
starlette==0.21.0
stripe==5.4.0
swagger-ui-bundle==0.0.9
tenacity==8.2.2
typing_extensions==4.4.0
tzdata==2023.3
tzlocal==4.3
uritemplate==4.1.1
urllib3==1.26.14
uvicorn==0.20.0
uvloop==0.17.0
waitress==2.1.2
watchfiles==0.18.1
webargs==8.2.0
websockets==10.4
Werkzeug==2.2.2
wrapt==1.14.1
WTForms==3.0.1
yagmail==0.15.293
yarl==1.8.2
zipp==3.11.0
